
<div class="login_form">
	<% if session[:teacher_id] != nil %>
	  	<% session[:teacher_id] = nil %>
	<% end %>

<h1 class="user_login"> Teacher </h1>
<br>
	<%= form_for(:session, url: teacher_log_in_path) do |f| %>
	<%= f.label :email %>
	<%= f.search_field :email %>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<%= f.submit "Log in", :class => 'f_submit'  %>
	<% end %>
	
</div>