<div class="form_container">
		<% if current_center.admin? %>
		  <h1 class="half_size"><%= @center.name %></h1>
		<% end %> 

	<%= form_for(@child) do |f| %>
	  <%= render 'shared/error_messages', object: @child %>
		<%= f.label :child_first_name %>
		<%= f.text_field :fname, class: 'form-control' %>
		<%= f.label :child_middle_name %>
		<%= f.text_field :mname, class: 'form-control' %>
		<%= f.label :child_last_name %>
		<%= f.text_field :lname, class: 'form-control' %>
		<%= f.hidden_field :center_id, :value => @center.id %>
		<% if !@locations.empty? %>
			<%= f.label :Select_class_by_location %>
			<%= f.grouped_collection_select :group_id, @locations, :groups, :name, :id, :name, include_blank: true %>
		<% else %>
			<%= f.label :Select_class %>
			<%= f.collection_select :group_id, @groups, :id, :name, include_blank: true %>
		<% end %>
		<%= f.label :Birthday %>
		<%= date_field(:child, :birth_date) %>
		<%= f.submit yield(:button_text), class: "btn btn-primary" %>
	<% end %>
</div>

