<div class="form_container">
		<% if current_center.admin? %>
		  <h1 class="half_size"><%= @center.name %></h1>
		<% end %> 
		<br>

	<%= form_for(@child) do |f| %>
	  <%= render 'shared/error_messages', object: @child %>
		<%= f.label :child_first_name %>
		<%= f.text_field :fname, class: 'form-control' %>
		<%= f.label :child_middle_name %>
		<%= f.text_field :mname, class: 'form-control' %>
		<%= f.label :child_last_name %>
		<%= f.text_field :lname, class: 'form-control' %>
		<%= f.hidden_field :center_id, :value => @center.id %>
		<%= f.label :Birthday %>
		<%= date_field(:child, :birth_date) %>
		<%= f.label :Class_by_location %>
		<%= f.grouped_collection_select(:group_id, @locations, :groups, :name, :id, :name, prompt: true) %>
		<%= f.submit yield(:button_text), class: "btn btn-primary" %>
	<% end %>
</div>

