<% provide(:title, 'All Children') %>

<div class="container-fluid">
	<% if current_center.admin? %>
		  <h1> Children </h1>
		  <h1 class="half_size"><%= @center.name %></h1>
	<% else %>
		  <h1> All Children </h1>
	<% end %>
	<% if @children.length == 0 %>
		<h2><i>(There are no registered children.)</i></h2>
	<% end %>
	<ul class="objects">
		<%= will_paginate %>
	  	<% @children.each do |child| %>
		  	<div class="correct_left">
			    <li>
				    <div class="center_name">
				    	<%= link_to edit_child_path(child.id), method: :get do %>
		        			 	<i class="glyphicon glyphicon-pencil"></i>
		        		<% end %>
		        		<%= link_to child_path(child.id), method: :delete, data: {confirm: "Are you sure?"} do %>
		        			 	<i class="glyphicon glyphicon-trash"></i>
		        		<% end %>

						<strong><%= child.fname %>
						<%= child.mname %>
						<%= child.lname %></strong>
					</div>
					<div class="center_links">
						<%= link_to "View", child_path(child.id), method: :get %> |
						<%= link_to "Add/Remove Adult", controller: "families", action: "show", id: child.id %><br>
					</div>
			    </li>
			</div>
	  	<% end %>
	</ul>
</div>

