<% provide(:title, 'All Children') %>

<!-- <div class="container"> -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3"> 
			<% if current_center.admin? %>
				  <h1><%= @center.name %></h1>
				  <h1 class="half_size"> Children </h1>
				  <% else %>
				  <h1> All Children </h1>
			<% end %>
			<ul class="objects">
			<%= will_paginate %>
			  <% @children.each do |child| %>
				    <li>
					    <div class="center_name">
							<h4><%= child.fname %>
								<%= child.mname %>
								<%= child.lname %></h4>
						</div>
						<div class="center_links">
							<%= link_to "View", child_path(child.id), method: :get %> |
							<%= link_to "Update", controller: "children", action: "edit", id: child.id %> |
							<%= link_to "Delete", child_path(child.id), method: :delete, data: {confirm: "Are you sure?"} %> |
							<%= link_to "Add/Remove Adult", controller: "families", action: "show", id: child.id %><br>
						</div>
				    </li>
			  <% end %>
			</ul>
		</div>
	</div>
<!-- </div> -->

