<% provide(:title, "Child Profile") %>

<div>
	<div class="profile">
		<h1>Child Profile</h1>
		<span>NAME:</span>  <%= @child.fname %> <%= @child.mname %> <%= @child.lname %><br><br>

		<% if @child.group_id %>
           	<% @group = Group.find(@child.group_id) %>
           	<span>CLASS:</span> <%= @group.name %><br><br>
      	<% end %>
		
		<% if current_center.admin? %>
			<% center = Center.find(@child.center_id) %>
		  	<span>CLIENT:</span> <%= center.name %><br><br>
	    <% end %>

	    <% if @child.birth_date %>
	    	<span>BIRTHDAY:</span> <%= @child.birth_date.strftime("%B %d, %Y") %><br><br>
	    <% end %>
		
		<% if @child.parents.length != 0 %>	
			<span>ADULTS:</span>
			<% @child.parents.each do |parent| %>
				<a href="<%= parent_path(parent.id) %>"><span><%= parent.fname %> <%= parent.lname %></span></a>
			<% end %>
		<% end %>
		<br><br><br>

		  <b><i><%= link_to "REGISTER-NEW-CHILD", controller: "children", action: "new", id: @child.center_id %><i><b>
	</div>


</div>


