<% provide(:title, "Child-Adult") %>

<!-- The Admin can add/remove a parent to/from a child's account. -->

<div class="container">
<h1>Manage Child-Adult Relationships</h1>
	<% if current_center.admin? %>
		  <h1 class="half_size"><%= @center.name %></h1>
	<% end %>

	<div class="row">
	  <div class="col-md-6 col-md-offset-3">

	<!-- If child has no parents in the db yet, "Click to remove adult..." is not displayed and the following nested loop is skipped automatically. Otherwise, all Adults in Child's account are listed as a link for deletion. Only the parent-child relationship is deleted; the parent's profile record is retained.-->
		
		<% if @child.parents.length != 0 %>
			<h3> Click to remove adult from <%= @child.fname %> <%= @child.lname %>:</h3>
		<% end %>
		
		<% @child.parents.each do |parent| %>
			<% @child.families.each do |family| %>
				<% if parent.id == family.parent_id %>	
				<%= link_to("#{parent.fname} #{parent.lname}", family_path(family.id), method: :delete) %><br> 
				<% end %>
			<% end %>
		<% end %>

		<hr>

 	<!-- This is the code for adding an Adult to a Child's account. -->

		<h3><%= "Add an adult to " %><%= @child.fname %>'s account:</h3>

		<%= form_for(@family) do |f| %>
			<%= f.hidden_field :child_id, :value => @child.id %>
			<% if !current_center.admin? %>
				<%= f.hidden_field :center_id, :value => current_center.id %>
			<% else %>
				<%= f.hidden_field :center_id, :value => @center.id %>
			<% end %>
			<%= f.collection_select :parent_id, @parents, :id, :parent_full_name, prompt: true, class: 'form_control' %>
			<%= f.submit "Add Adult", class: "btn btn-primary"  %>
		<% end %>
		<hr>
		
	   </div>
	 </div>
</div>