<div class="form_container">
	<% if current_center.admin? %>
	  <h1 class="half_size"><%= @center.name %></h1>
	<% end %>

	<%= form_for(@group) do |f| %>
		<%= render 'shared/error_messages', object: @group %>
		<%= f.label :class_Name %>
		<%= f.text_field :name, class: 'form-control' %>
		<%= f.hidden_field :center_id, :value => @center.id %>
		<%  if !@locations.empty? %>
				<%= f.label :branch_location %>
				<%= f.collection_select :location_id, @locations, :id, :name, prompt: true %>
			<% end %>

		<%= f.submit yield(:button_text), class: "btn btn-primary"  %>
	<% end %>
</div>

