<% provide(:title, 'All Classes') %>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3"> 
			<% if current_center.admin? %>
				  <h1> Classes </h1>
				  <h1 class="half_size"><%= @center.name %></h1>
				  <% else %>
				  <h1> All Classes </h1>
			<% end %>
			<ul class="objects">
			<%= will_paginate %>
			  <% @groups.each do |group| %>
				    <li>
						<h3><%= group.name %></h3>
						<%= link_to "Update", controller: "groups", action: "edit", id: group.id %> |
						<%= link_to "Delete", group_path(group.id), method: :delete, data: {confirm: "Are you sure?"} %> |
						<%= link_to "Add/Remove Class", controller: "group_teachers", action: "show", id: group.id %><br>
				    </li>
			  <% end %>
			</ul>
		</div>
	</div>
</div>
