<% provide(:title, 'All Classes') %>

<div class="container-fluid">
	<% if current_center.admin? %>
		  <h1> Classes </h1>
		  <h1 class="half_size"><%= @center.name %></h1>
	<% else %>
		  <h1> All Classes </h1>
	<% end %><br>

	<div class="objects">
	<% if @groups.length == 0 %>
		<h2><i>(There are no registered classes.)</i></h2>
	<% end %>
	<%= will_paginate %>
		<ul>
		  <% @locations.each do |location| %>
		  	  <% if location.groups.present? %>
				 <h4 class="object_index"><%= location.name %></h4>
			  <% end %>
			  <% location.groups.each do |group| %>
				    <li>
				      	<div class="object_index">
				      		<%= link_to edit_group_path(group.id), method: :get do %>
			        			 	<i class="glyphicon glyphicon-pencil"></i>
			        		<% end %>
			        		<%= link_to group_path(group.id), method: :delete, data: {confirm: "Are you sure?"} do %>
			        			 	<i class="glyphicon glyphicon-trash"></i>
			        		<% end %>&nbsp;&nbsp;
				      		<%= link_to group_path(group.id), method: :get do %>
								 <strong><%= group.name %></strong>
							<% end %>
					  	</div>
				<!-- 		<div class="center_links">
							<%#= link_to "View", group_path(group.id), method: :get %> |
							<%#= link_to "Add/Remove Teacher", controller: "group_teachers", action: "show", id: group.id %><br>
						</div> -->
					</li>
			  <% end %>
		  <% end %>
		</ul>
	</div>
</div>
