<% provide(:title, "Class Profile") %>

<div class="container">
	<div class="profile">
		<h1>Class Profile</h1>
		<span>NAME:</span>  <%= @group.name %></h2><br><br>

		<% if current_center.admin? %>
			<% center = Center.find(@group.center_id) %>
		 	<span>CLIENT:</span> <%= center.name %><br><br>
	    <% end %>

		<% if @group.location_id %>
           	<% location = Location.find(@group.location_id) %>
           	<span>BRANCH:</span> <%= location.name %><br><br>
      	<% end %>
		
	    <% if @group.teachers.length != 0 %>
	    	<span>TEACHERS:</span>
	    	<% @group.teachers.each do |teacher| %>
	    		<a href="<%= teacher_path(teacher.id) %>"><span><%= teacher.fname %> <%= teacher.lname %></span></a>
	    	<% end %><br><br>
	    <% end %>
		
		<% if @group.children.length != 0 %>
			<span>CHILDREN:</span>	
			<% @group.children.each do |child| %>
				<a href="<%= child_path(child.id) %>"><span><%= child.fname %> <%= child.lname %></span></a>
				<% end %>
		<% end %>
		<br><br><br>

		  <b><%= link_to "REGISTER-NEW-CLASS", controller: "groups", action: "new", id: @group.center_id %><b>
	</div>
</div>