<% provide(:title, "Class Profile") %>

<div class="container">
	<div class="profile">
		<h1>Class Profile</h1>
		<span>NAME:</span>  <%= @group.name %></h2><br><br>

		<% if @group.location_id %>
           	<% location = Location.find(@group.location_id) %>
           	<span>LOCATION:</span> <%= location.name %><br><br>
      	<% else %>
         	<span>LOCATION:</span><br><br>
      	<% end %>
		
		<% if current_center.admin? %>
			<% center = Center.find(@group.center_id) %>
		  	<span>CLIENT:</span> <%= center.name %><br><br>
	    <% end %>

		<span>TEACHERS:</span>
	    <% if @group.teachers.length != 0 %>
	    	<% @group.teachers.each do |teacher| %>
	    		<a href="<%= teacher_path(teacher.id) %>"><span><%= teacher.fname %> <%= teacher.lname %></span></a>
	    		<% end %>
	    <% end %><br><br>
		
		<span>CHILDREN:</span>
		<% if @group.children.length != 0 %>	
			<% @group.children.each do |child| %>
				<a href="<%= child_path(child.id) %>"><span><%= child.fname %> <%= child.lname %></span></a>
				<% end %>
		<% end %>
		
	</div>
</div>