<div class="form_container">
      <%= form_for(@center) do |f| %>
        <%= render 'shared/error_messages', object: @center %>
        <%= f.label :client_name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :director_first_name %>
        <%= f.text_field :dirfname, class: 'form-control' %>
        <%= f.label :director_last_name %>
        <%= f.text_field :dirlname, class: 'form-control' %>
        <%= f.label :username %>
        <%= f.text_field :username, placeholder: "6+ characters", class: 'form-control' %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "8+ characters", class: 'form-control' %>
        <%= f.label :password_confirmation, "Retype Password" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <%#= f.label :superadmin %>
        <%#= f.text_field :admin %>
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      <% end %>
</div>