<% provide(:title, 'Center Admin') %>

<!-- This is the home page for the Center Admin. Each center only has one login and therefore acts as its own admin.  When the Center Admin logs in they see this page which displays all the CRUD options for the center's children, parents, teachers, classes and locations. The Center Admin also has the ability to add/remove adults to/from a child's account and to add/remove teachers to/from a class (group).-->

<h1 class="page_title"><%= "#{current_center.name} Administration" %> </h1>
<hr>
<h2> <%= link_to "Manage Child-Adult Relationships", families_path %></h2>
<h2> <%= link_to "Manage Class-Teacher Relationships", group_teachers_path %></h2>

<div class="row">		
		<h1 class="col-md-2 col-md-offset-1"> Children </h1>
		<h1 class="col-md-2"> Adults </h1>
		<h1 class="col-md-2"> Teachers </h1>
		<h1 class="col-md-2"> Classes </h1>
		<h1 class="col-md-2"> Locations </h1>
</div>
<div class="row">
		<h2 class="col-md-2 col-md-offset-1"><%= link_to "Register New Child", new_child_path %></h2>
		<h2 class="col-md-2"><%= link_to "Register New Adult", new_parent_path %></h2>
		<h2 class="col-md-2"><%= link_to "Register New Teacher", new_teacher_path %></h2>
		<h2 class="col-md-2"><%= link_to "Register New Class", new_group_path %></h2>
		<h2 class="col-md-2"><%= link_to "Register New Location", new_location_path %></h2>
</div>
<div class="row">
		<h2 class="col-md-2 col-md-offset-1"><%= link_to "Manage Child", children_path, method: :get %></h2>
		<h2 class="col-md-2"><%= link_to "Manage Adult", parents_path, method: :get %></h2>
		<h2 class="col-md-2"><%= link_to "Manage Teacher", teachers_path, method: :get %></h2>
		<h2 class="col-md-2"><%= link_to "Manage Class", groups_path, method: :get %></h2>
		<h2 class="col-md-2"><%= link_to "Manage Location", locations_path, method: :get %></h2>
</div>	
	
