<% provide(:title, 'Admin Home') %>

<!-- This is the home page for the Center Admin. Each center only has one login and therefore acts as its own admin.  When the Center Admin logs in they see this page which displays all the CRUD options for the center's children, parents, teachers, classes and locations. The Center Admin also has the ability to add/remove adults to/from a child's account and to add/remove teachers to/from a class (group).-->
<div class="container-fluid">
		<div class="object_size2">
			<h1 class="page_title well"><%= "#{current_center.name} Administration" %>
			<br>
			<h2> <%= link_to "View Center Profile", center_path(current_center.id), method: :get %></h2>
			<h2> <%= link_to "Manage Child-Adult Relationships", families_path %></h2>
			<!-- <h2> <%#= link_to "Manage Class-Teacher Relationships", group_teachers_path %></h2> -->
			<h2> <%= link_to "Attendance Report", handoffs_path %></h2>

		</div>
		<div class="row object_size">		
				<h2 class="col-xs-2 col-xs-offset-1"> Child </h2>
				<h2 class="col-xs-2"> Adult </h2>
				<h2 class="col-xs-2"> Staff </h2>
				<h2 class="col-xs-2"> Class </h2>
				<h2 class="col-xs-2"> Location </h2>
		</div>
		<div class="row object_size2">
				<h2 class="col-xs-2 col-xs-offset-1"><%= link_to "Register", new_child_path %></h2>
				<h2 class="col-xs-2"><%= link_to "Register", new_parent_path %></h2>
				<h2 class="col-xs-2"><%= link_to "Register", new_teacher_path %></h2>
				<h2 class="col-xs-2"><%= link_to "Register", new_group_path %></h2>
				<h2 class="col-xs-2"><%= link_to "Register", new_location_path %></h2>
		</div>
		<div class="row object_size2">
				<h2 class="col-xs-2 col-xs-offset-1"><%= link_to "Manage", children_path, method: :get %></h2>
				<h2 class="col-xs-2"><%= link_to "Manage", parents_path, method: :get %></h2>
				<h2 class="col-xs-2"><%= link_to "Manage", teachers_path, method: :get %></h2>
				<h2 class="col-xs-2"><%= link_to "Manage", groups_path, method: :get %></h2>
				<h2 class="col-xs-2"><%= link_to "Manage", locations_path, method: :get %></h2>
		</div>
</div>	
	
