<% provide(:title, 'Superadmin') %>

<div class="container">
	<h1 class="page_title"> Guidestar Administration </h1>
 	<h2><%= link_to "Register New Client", new_center_path, class: "half_size" %></h2>
	<div  class="objects">
		<ul>
		  <%= will_paginate %>
		  <% @centers.each do |center| %>
		    <li>
				<div class="center_name"><%= center.name %></div>
				<div class="center_links">
					 <% if center.id == current_center.id %>
						<a href="<%= edit_center_path(center.id) %>">Update Profile</a>
					 <% else %>
					 	Client:
						<%= link_to "Update", controller: "centers", action: "edit", id: center.id %> |
						<%= link_to "Delete", center_path(center.id), method: :delete, data: {confirm: "Are you sure?"} %>  &diams; 

						Register: 
						<%= link_to "Child", controller: "children", action: "new", id: center.id %> |
						<%= link_to "Adult", controller: "parents", action: "new", id: center.id %> |
						<%= link_to "Teacher", controller: "teachers", action: "new", id: center.id %> |
						<%= link_to "Class", controller: "groups", action: "new", id: center.id %> |
						<%= link_to "Location", controller: "locations", action: "new", id: center.id %>  &diams;

						Manage: 
						<%= link_to "Child", controller: "children", action: "index", id: center.id %> |
						<%= link_to "Adult", controller: "parents", action: "index", id: center.id %> |
						<%= link_to "Teacher", controller: "teachers", action: "index", id: center.id %> |
						<%= link_to "Class", controller: "groups", action: "index", id: center.id %> |
						<%= link_to "Location", controller: "locations", action: "index", id: center.id %>
					<% end %>
				</div>		
		    </li>
		  <% end %>
		</ul>
	</div>
</div>
