<% provide(:title, 'Superadmin') %>

<div class="container">
	<h1 class="page_title"> Guidestar Administration </h1>
 	<h2><%= link_to "Register New Center", new_center_path, class: "half_size" %></h2>
	<div class="row">
		<div class="col-md-6 col-md-offset-3"> 
			<ul class="objects">
			<%= will_paginate %>
			  <% @centers.each do |center| %>
			    <li>
					<h4><%= center.name %></h4>
					<% if center.id == current_center.id %>
						<a href="<%= edit_center_path(center.id) %>">Update Profile</a>
					<% else %>
						<a href="<%= edit_center_path(center.id) %>">Update/Delete Center</a><br>

						<%= link_to "Register: Child | ", controller: "children", action: "new", id: center.id %>
						<%= link_to "Adult | ", controller: "parents", action: "new", id: center.id %>
						<%= link_to "Teacher | ", controller: "teachers", action: "new", id: center.id %>
						<%= link_to "Class | ", controller: "groups", action: "new", id: center.id %>
						<%= link_to "Location", controller: "locations", action: "new", id: center.id %><br>

						<%= link_to "Manage: Child | ", controller: "children", action: "index", id: center.id %>
						<%= link_to "Adult | ", controller: "parents", action: "index", id: center.id %>
						<%= link_to "Teacher | ", controller: "teachers", action: "index", id: center.id %>
						<%= link_to "Class | ", controller: "groups", action: "index", id: center.id %>
						<%= link_to "Location", controller: "locations", action: "index", id: center.id %>
					<% end %>
			    </li>
			  <% end %>
			</ul>
		</div>
	</div>
</div>
