<% provide(:title, 'Superadmin') %>

<!-- This is the home page for the Super Administrator.  The superadmin has the same powers as the Center Admin as well as the ability to create new, edit and delete centers.  The superadmin is a center instance with admin rights, i.e. 'true' in the center.admin field. -->
<div class="container-fluid">
	<h1 class="page_title well"> Super Administration </h1>
 	<h2><%= link_to "Register New Client", new_center_path, class: "object_size" %></h2> 	
	<div  class="objects">
		<ul>
			<%= will_paginate %>
			<% @centers.each do |center| %>
				<li>
				    <div class="div_width">
						<div class="super_name">
							<%= link_to edit_center_path(center.id), method: :get do %>
		        			 	<i class="glyphicon glyphicon-pencil"></i>
		        			<% end %>
		        			<%= link_to center_path(center.id), method: :delete, data: {confirm: "Are you sure?"} do %>
		        			 	<i class="glyphicon glyphicon-trash"></i>
		        			<% end %>
		        			<%= link_to center_path(center.id), method: :get do %>
							 	<i><%= center.name %></i>
							<% end %>		
						</div>
						<div class="super_links">
							 <% if !center.admin? %> 
									<div class="media1">
										Register: 
										<%= link_to "Child", controller: "children", action: "new", id: center.id %> |
										<%= link_to "Adult", controller: "parents", action: "new", id: center.id %> |
										<%= link_to "Staff", controller: "teachers", action: "new", id: center.id %> |
										<%= link_to "Class", controller: "groups", action: "new", id: center.id %> |
										<%= link_to "Location", controller: "locations", action: "new", id: center.id %>  
									<span id="diamond">&diams;</span>
									</div>
									<div class="media1">
										Manage: 
										<%= link_to "Child", controller: "children", action: "index", id: center.id %> |
										<%= link_to "Adult", controller: "parents", action: "index", id: center.id %> |
										<%= link_to "Staff", controller: "teachers", action: "index", id: center.id %> |
										<%= link_to "Class", controller: "groups", action: "index", id: center.id %> |
										<%= link_to "Location", controller: "locations", action: "index", id: center.id %>
									</div>
							<% end %>
						</div>
					</div>		
			    </li>
		 	<% end %>
		</ul>
	</div>
</div>

