<% provide(:title, "Client Profile") %>

<div class="container">
	<div class="profile">
		<h1>Client Profile</h1>
		<h2>NAME:  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= @center.name %></h2>
		<h2>DIRECTOR:  &nbsp&nbsp<%= @center.dirfname %><%= @center.dirlname %></h2>
		<h2>USERNAME:  &nbsp&nbsp<%= @center.username %></h2>
		<h2>EMAIL:  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= @center.email %></h2>

		<h2>LOCATIONS:</h2>
		<% if @center.locations.length != 0 %>	
			<% @center.locations.each do |location| %>
				<a href="<%= location_path(location.id) %>"><h5><%= location.name %></h5></a>
			<% end %>
		<% end %>

	</div>
</div>


