<% provide(:title, "Client Profile") %>

<div class="container">
	<div class="profile">
		<h1>Client Profile</h1>
		<span>NAME:</span>  <%= @center.name %><br><br>
		<span>DIRECTOR:</span>  <%= @center.dirfname %> <%= @center.dirlname %><br><br>
		<span>USERNAME:</span>  <%= @center.username %><br><br>
		<span>EMAIL:</span>  <%= @center.email %><br><br>

		<span>LOCATIONS:</span>
				<% if @center.locations.length != 0 %>	
			<% @center.locations.each do |location| %>
				<a href="<%= location_path(location.id) %>"><span><%= location.name %></span></a>
			<% end %>
		<% end %>

	</div>
</div>


