<% provide(:title, "Client Profile") %>

<div class="container">
	<div class="profile">
		<% if @center.admin == true %>
			<h1>Super Administrator Profile</h1>
		<% elsif current_center.admin?%>
			<h1>Client Profile</h1>
			<h3><%= link_to "Attendance Report", controller: "handoffs", action: "index", id: @center.id %></h3><hr>
		<% else %>
			<h1>Center Profile</h1>
		<% end %>

		<span>NAME:</span>  <%= @center.name %><br><br>
		<span>DIRECTOR:</span>  <%= @center.dirfname %> <%= @center.dirlname %><br><br>
		<span>USERNAME:</span>  <%= @center.username %><br><br>
		<span>EMAIL:</span>  <%= @center.email %><br><br>

		<% if @center.locations.length != 0 %>
			<span>BRANCHES:</span>	
			<% @center.locations.each do |location| %>
				<a href="<%= location_path(location.id) %>"><span><%= location.name %></span></a>
			<% end %>
		<% end %>

	</div>
</div>


