<script type="text/javascript">
      function selectAll(){
        $("input:checkbox").each(function(){
        	if ($(this).prop('checked'))
        		$(this).prop('checked', false);
        	else
          		$(this).prop('checked', true);
        });

        return false;
      }
      function toggleHighlight(checkedBox){
      		var is_checked = checkedBox.checked; //true or false
			if(is_checked)
				{
				checkedBox.parentNode.parentNode.style.backgroundColor="yellow";
				}
			else
				{
				checkedBox.parentNode.parentNode.style.backgroundColor="";
				}
      }
</script>

<%= form_for('Handoff', :as => 'handoffs', :url => delete_selected_handoffs_path, :data => {:confirm => :are_you_sure }) do |f| %>
		
	<div class="fields", style="margin: 0 -30px -20px 30px">
		<span><strong style="font-size: 16px">Select all</strong></span>
	</div>
	<div style="margin: -22px 0 22px 0">
		<input type="checkbox", onclick="selectAll()", onchange="this.checked=!this.checked;"></input>	
	</div>
	<div class="fields", style="margin: -45px -110px 45px 110px; position: absolute; width: 8vw; font-size: 1vw">
		<%= f.submit 'Delete selected', :class => 'btn-primary' %>
	</div>

	<div class="table-responsive">
		<table  class="table table-condensed table-striped">
			<thead>
				<tr>
					<th class="select-row">&nbsp;&nbsp;</th>				
					<th>First name</th>
					<th>Middle name</th>
					<th>Last name</th>
					<th>Date & Time</th>
					<th>Arrive/Depart</th>
					<th>Class</th>
					<th>Adult</th>
					<% if @locations.length != 1 %>
						<th>Location</th>
					<% end %>			
				</tr>
			</thead>
			<tbody>				
				<% @handoffs.each do |handoff| %> 
					<tr>
						<td><%= check_box_tag 'ids[]', handoff.id, false, :onclick => "toggleHighlight(this)" %></td>
						<td><%= handoff.child_fname %></td>
						<td><%= handoff.child_mname %></td>
						<td><%= handoff.child_lname %></td>
						<td><%= handoff.created_at.strftime("%m/%d/%Y - %H:%M") %></td>
						<td><%= handoff.attend %></td>
						<td><%= handoff.group_name %></td>
						<td><%= handoff.escort_fname %> <%= handoff.escort_lname %></td>
						<% if @locations.length != 1 %>
							<td><%= handoff.location_name %></td>
						<% end %>		
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>