<script type="text/javascript">
      function selectAll(){
        $("input:checkbox").each(function(){
        	if ($(this).prop('checked'))
        		$(this).prop('checked', false);
        	else
          		$(this).prop('checked', true);
        });

        return false;
      }
</script>

<small><button onclick="selectAll()">Select all</button></small>

<%= form_for('Handoff', :as => 'handoffs', :url => delete_selected_handoffs_path, :data => {:confirm => :are_you_sure }) do |f| %>

	<small><%= f.submit 'Delete selected', :class => 'btn-danger fields' %></small>
	
	<div class="clear">&nbsp;</div>
	<div class="table-responsive">
		<table  class="table table-condensed table-striped">
			<thead>
				<tr>
					<th class="select-row">&nbsp;&nbsp;</th>				
					<th>First name</th>
					<th>Middle name</th>
					<th>Last name</th>
					<th>Date & Time</th>
					<th>Arrive/Depart</th>
					<th>Class</th>
					<th>Adult</th>
					<% if @locations.length != 1 %>
						<th>Location</th>
					<% end %>			
				</tr>
			</thead>
			<tbody>				
				<% @handoffs.each do |handoff| %> 
					<tr>
						<td class="first-column"><%= check_box_tag 'ids[]', handoff.id, false, :class => 'table-row-checkbox' %></td>
						<td><%= handoff.child_fname %></td>
						<td><%= handoff.child_mname %></td>
						<td><%= handoff.child_lname %></td>
						<td><%= handoff.created_at.strftime("%m/%d/%Y - %H:%M") %></td>
						<td><%= handoff.attend %></td>
						<td><%= handoff.group_name %></td>
						<td><%= handoff.escort_fname %> <%= handoff.escort_lname %></td>
						<% if @locations.length != 1 %>
							<td><%= handoff.location_name %></td>
						<% end %>		
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>