<script type="text/javascript">
	  var unSelect = false;
      function selectAll(){
        $("input:checkbox").each(function(){ 
        	if (unSelect) {
        		$(this).prop('checked', false)
        		this.parentNode.parentNode.style.backgroundColor="white";
        	}
        	else {
	        	$(this).prop('checked', true)
	        	this.parentNode.parentNode.style.backgroundColor="yellow";
	        }
        });
        document.getElementById("all").parentNode.parentNode.style.backgroundColor = "white";
        unSelect = !unSelect;
        return false;
      }
      function toggleHighlight(checkedBox){
      		var is_checked = checkedBox.checked; //true or false
			if(is_checked)
				{
				checkedBox.parentNode.parentNode.style.backgroundColor="yellow";
				}
			else
				{
				checkedBox.parentNode.parentNode.style.backgroundColor="";
				}
      }
</script>

<%= form_for('Handoff', :as => 'handoffs', :url => delete_selected_handoffs_path, :data => {:confirm => :are_you_sure }) do |f| %>
		

	<div style='display: inline-block; width: 10px; margin-left: 6px;'>
		<input type="checkbox", onclick="selectAll()", id="all"></input>	
	</div>
	<div class="fields", style='margin-left: 20px;'>
		<b style="font-size: 20px;">Select all</b>
	</div>
	<div style="display: inline-block; position: fixed; margin: -5px -50px 5px 50px">
		<%= f.submit 'Delete selected', :class => 'btn btn-danger' %>
	</div>
<br><br>

	<div class="table-responsive">
		<table  class="table table-condensed table-striped">
			<thead>
				<tr Class='filters'>
					<th class="select-row">&nbsp;&nbsp;</th>				
					<th><%= sortable "child_fname", "First name" %></th>
					<th><%= sortable "child_mname", "Middle name" %></th>
					<th><%= sortable "child_lname", "Last name" %></th>
					<th><%= sortable "created_at", "Date & Time" %></th>
					<th><%= sortable "attend", "Arrive/Depart" %></th>
					<th><%= sortable "group_name", "Class" %></th>
					<th><%= sortable "escort_lname", "Adult" %></th>
					<% if @locations.length != 1 %>
						<th><%= sortable "location_name", "Location" %></th>
					<% end %>			
				</tr>
			</thead>
			<tbody>				
				<% @handoffs.each do |handoff| %> 
					<tr class='filters'>
						<td><%= check_box_tag 'ids[]', handoff.id, false, :onclick => "toggleHighlight(this)" %></td>
						<td><%= handoff.child_fname %></td>
						<td><%= handoff.child_mname %></td>
						<td><%= handoff.child_lname %></td>
						<td><%= handoff.created_at.strftime("%m/%d/%Y - %H:%M") %></td>
						<td><%= handoff.attend %></td>
						<td><%= handoff.group_name %></td>
						<td><%= handoff.escort_fname %> <%= handoff.escort_lname %></td>
						<% if @locations.length != 1 %>
							<td><%= handoff.location_name %></td>
						<% end %>		
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>