<% provide(:title, 'Report') %>

<% Time.zone = 'America/New_York' %>

<h1>Attendance Records</h1>
<hr>

<%#= form_tag handoffs_path, :method => 'get' do %>
	<%#= text_field_tag :search, params[:search], placeholder: "  Child first name", class: "fields" %>
	<%#= submit_tag "Search", class: "fields" %>
<%# end %>

<!-- <%#= link_to "Advanced Search", controller: "searches", action: "new", id: @center.id %><hr> -->

<%= form_for @search, html: {class: "pure-form"} do |s| %>

	<div class="fields">		
		<%= s.text_field :child_name, placeholder: " Child first name" %>
	</div>
	<div class="fields">	
		<%= s.text_field :adult_name, placeholder: " Adult last name" %>
	</div>
	<div class="fields">	
		<%= s.select :class_name, options_for_select(@groups), :include_blank => "Select class" %>
	</div>
 	<div class="fields">	
		<%= s.select :location_name, options_for_select(@locations), :include_blank => 'Select location' %>
	</div>
	<div class="fields">
		<small><%= s.button(type: 'submit') do %>
		  <span class="glyphicon glyphicon-search"></span>	
		<% end %></small>
	</div>
<% end %>
<hr>

<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<thead>
			<tr>				
				<th>First name</th>
				<th>Middle name</th>
				<th>Last name</th>
				<th>Date & Time</th>
				<th>Arrive/Depart</th>
				<th>Class</th>
				<th>Location</th>
				<th>Adult</th>
							
			</tr>
		</thead>
		<tbody>				
			<% @handoffs.each do |handoff| %>
				<tr>
					<td><%= handoff.child_fname %></td>
					<td><%= handoff.child_mname %></td>
					<td><%= handoff.child_lname %></td>
					<td><%= handoff.created_at.strftime("%b. %d, %Y - %H:%M") %></td>
					<td><%= handoff.attend %></td>
					<td><%= handoff.group_name %></td>
					<td><%= handoff.location_name %></td>
					<td><%= handoff.escort_fname %> <%= handoff.escort_lname %></td>		
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

