<% provide(:title, 'Report') %>

<% Time.zone = 'America/New_York' %>

<div class="well">
	<h1 style="color: blue;">ATTENDANCE &nbsp; RECORDS</h1>
	<h2>advanced search</h2>
</div>
<% if current_center.admin? %>
	<h3><b><%= @center.name %></b></h3><hr>
<% else %>
	<br><br>
<% end %>
<!-- <%#= render "search" %> -->
<%= form_for @search, html: {class: "pure-form"} do |s| %>
	<div class="table-responsive">
		<table  class="table">
			<thead>
				<tr class='filters'>
					<th>child last name</th>
					<th>adult last name</th>
					<th>class</th>
					<% if @locations.length != 1 %>
			 			<th>location</th>	
					<% end %>
					<th>from</th>
					<th>to</th>
					<th></th>
				</tr>
			</thead>
			<body class='form-group'>			
				<tr>
					<td><%= s.text_field :child_name %></td>
					<td><%= s.text_field :adult_name, placeholder: " " %></td>
					<td><%= s.select :class_name, options_for_select(@groups), prompt: "select" %></td>
					<% if @locations.length != 1 %>	
						<td><%= s.select :location_name, options_for_select(@locations), prompt: "select" %></td>
					<% end %>
					<td><%= s.date_field :date_from, :value => 7.days.ago.to_date.strftime('%Y-%m-%d') %></td>
					<td><%= s.date_field :date_to, :value => Time.now.strftime('%Y-%m-%d') %></td>
					<td style='width: 100px;'><small><%= s.button(type: 'submit', class: 'btn-success') do %>
				  		<span class="glyphicon glyphicon-search"></span> Search
				  		<% end %></small></td>
				</tr>
			</body>
		</table>
	</div>
<% end %>

<% if !@handoffs.empty? %>
	<%= render "report" %>
<% end %>
