<% provide(:title, 'Handoffs') %>

<div class="container-fluid">
	<h1> Attendance </h1><br><br>
</div>

<% Time.zone = 'America/New_York' %>

<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<% if @parent.children.length == 0 %>
			<h2><i>(Your children are not registered.)</i></h2>
		<% else %> 		
			<%= form_tag(controller: "handoffs", action: "create", method: "post") %>
				<div style="text-align: center">
					<div style="display: inline-block">
						<%= label(:handoff_arrive, "drop-off") %>&nbsp;&nbsp;&nbsp;
						<%= radio_button_tag(:attend_type, "arrive") %>	
					</div>
					<div style="display: inline-block">
						<%= label(:handoff_depart, "pick-up") %>
						<%= radio_button_tag(:attend_type, "depart") %>		
					</div>
				</div>
				<hr>
				<% @parent.children.each do |child| %>	
					<%= hidden_field_tag "handoff[][check]", 0 %>
					<div style="text-align: center">
						<%= check_box_tag "handoff[][check]" %>
						<strong>
						<%= child.fname %>
						<%= child.mname %>
						<%= child.lname %>
						</strong>	
					</div>
					<% group = Group.find(child.group_id) %>
					<%= hidden_field_tag "handoff[][attend]" %>
					<%= hidden_field_tag "handoff[][group_name]", group.name %>
					<%= hidden_field_tag "handoff[][child_id]", child.id %>
					<%= hidden_field_tag "handoff[][center_id]", @center.id %>
					<%= hidden_field_tag "handoff[][escort_fname]", @parent.fname %>
					<%= hidden_field_tag "handoff[][escort_lname]", @parent.lname %>
					<%= hidden_field_tag "handoff[][child_fname]", child.fname %>
					<%= hidden_field_tag "handoff[][child_mname]", child.mname %>
					<%= hidden_field_tag "handoff[][child_lname]", child.lname %>
				<% end %>
				<br>
				<%= submit_tag  type="submit", value: "Check-in", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
