<% provide(:title, 'All Teachers') %>

<div class="container-fluid">
	<% if current_center.admin? %>
		  <h1> Teachers </h1>
		  <h1 class="half_size"><%= @center.name %></h1>	  
		  <% else %>
		  <h1> All Teachers </h1>
	<% end %>
	<ul class="objects">
	<%= will_paginate %>
	  <% @teachers.each do |teacher| %>
		  <div class="correct_left">
			    <li>
			    	<div class="center_name">
				    	<%= link_to edit_teacher_path(teacher.id), method: :get do %>
		        			 	<i class="glyphicon glyphicon-pencil"></i>
		        		<% end %>
		        		<%= link_to teacher_path(teacher.id), method: :delete, data: {confirm: "Are you sure?"} do %>
		        			 	<i class="glyphicon glyphicon-trash"></i>
		        		<% end %>
						<strong><%= teacher.fname %>
						<%= teacher.lname %></strong>
					</div>
					<div class="center_links">
						<%= link_to "View Profile", teacher_path(teacher.id), method: :get %>
					</div>
			    </li>
		  </div>
	  <% end %>
	</ul>
</div>


