<% provide(:title, 'All Teachers') %>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<% if current_center.admin? %>
				  <h1><%= @center.name %></h1>
				  <h1 class="half_size"> Teachers </h1>
				  <% else %>
				  <h1> All Teachers </h1>
			<% end %>
			<ul class="objects">
			<%= will_paginate %>
			  <% @teachers.each do |teacher| %>
				    <li>
				    	<div class="center_name">
							<h4><%= teacher.fname %>
							<%= teacher.lname %></h4>
						</div>
						<div class="center_links">
							<%= link_to "View", teacher_path(teacher.id), method: :get %> |
							<%= link_to "Update", controller: "teachers", action: "edit", id: teacher.id %> |
							<%= link_to "Delete", teacher_path(teacher.id), method: :delete, data: {confirm: "Are you sure?"} %><br>
						</div>
				    </li>
			  <% end %>
			</ul>
		</div>
	</div>
</div>


