<% provide(:title, "Teacher Profile") %>

<div class="container">
	<div class="profile">
		<h1>Teacher Profile</h1>
		<span>NAME:</span>  <%= @teacher.fname %> <%= @teacher.lname %><br><br>
		
		<% if current_center.admin? %>
			<% center = Center.find(@teacher.center_id) %>
		  	<span>CLIENT:</span> <%= center.name %><br><br>
	    <% end %>

	    <span>USERNAME:</span> <%= @teacher.username %><br><br>
	    <span>EMAIL:</span> <%= @teacher.email %><br><br>

	    <% if @teacher.groups.length != 0 %>
	    	<span>CLASSES:</span>
	    	<% @teacher.groups.each do |group| %>
	    		<a href="<%= group_path(group.id) %>"><span><%= group.name %></span></a>
	    		<% end %>
	    <% end %>
	</div>
</div>