<h1>Search Results</h1>
<br>

<!-- <p><%#= link_to 'Back', new_search_path %></p> -->


<% if @search.search_handoffs.empty? %>
	<p> No records found.</p>
<% else %>	

	<div class="table-responsive">
		<table class="table table-condensed table-striped">
			<thead>
				<tr>				
					<th>First name</th>
					<th>Middle name</th>
					<th>Last name</th>
					<th>Date & Time</th>
					<th>Arrive/Depart</th>
					<th>Class</th>
					<th>Adult</th>	
					<th>Location</th>		
				</tr>
			</thead>
			<tbody>				
				<% @search.search_handoffs.each do |handoff| %>
					<tr>
						<td><%= handoff.child_fname %></td>
						<td><%= handoff.child_mname %></td>
						<td><%= handoff.child_lname %></td>
						<td><%= handoff.created_at.strftime("%b. %d, %Y - %H:%M") %></td>
						<td><%= handoff.attend %></td>
						<td><%= handoff.group_name %></td>
						<td><%= handoff.escort_fname %> <%= handoff.escort_lname %></td>
						<td><%= handoff.location_name %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>