<% provide(:title, 'All Adults') %>

<div class="container-fluid">
	<% if current_center.admin? %>
		 <h1> Adults </h1>
		 <h1 class="half_size"><%= @center.name %></h1> 
	<% else %>
		  <h1> All Adults </h1>
	<% end %>
	<% if @parents.length == 0 %>
		  <h2><i>(There are no registered adults.)</i></h2>
	<% end %><br>

	<div class="objects">
	<%= will_paginate %>
		<ul>
		  <% @parents.each do |parent| %>
		    <li>
		    	<div class="object_index">
		    		<%= link_to edit_parent_path(parent.id), method: :get do %>
	        			 	<i class="glyphicon glyphicon-pencil"></i>
	        		<% end %>
	        		<%= link_to parent_path(parent.id), method: :delete, data: {confirm: "Are you sure?"} do %>
	        			 	<i class="glyphicon glyphicon-trash"></i>
	        		<% end %>
	        		<%= link_to parent_path(parent.id), method: :get do %> 
						<strong><%= parent.fname %> <%= parent.lname %></strong>
					<% end %>
				</div>
			</li>
				<!-- </div> -->
				<!-- 	<div class="center_links">
							<%#= link_to "View Profile", parent_path(parent.id), method: :get %> 
					</div> -->
			    
		  <% end %>
		</ul>
	</div>
</div>
