<% provide(:title, 'All Parents') %>

<div class="container">
	<% if current_center.admin? %>
		 <h1> Parents </h1>
		 <h1 class="half_size"><%= @center.name %></h1> 
	<% else %>
		  <h1> All Parents </h1>
	<% end %>

	<ul class="objects">
	<%= will_paginate %>
	  <% @parents.each do |parent| %>
		  <div class="correct_left">
			    <li>
			    	<div class="center_name">
			    		<%= link_to edit_parent_path(parent.id), method: :get do %>
		        			 	<i class="glyphicon glyphicon-pencil"></i>
		        		<% end %>
		        		<%= link_to parent_path(parent.id), method: :delete, data: {confirm: "Are you sure?"} do %>
		        			 	<i class="glyphicon glyphicon-trash"></i>
		        		<% end %>
						<strong><%= parent.fname %>
							<%= parent.lname %></strong>
					</div>
					<div class="center_links">
							<%= link_to "View Profile", parent_path(parent.id), method: :get %> 
					</div>
			    </li>
		  </div>
	  <% end %>
	</ul>
</div>
