<% provide(:title, "Parent Profile") %>

<div class="container">
	<div class="profile">
		<h1>Parent Profile</h1>
		<span>NAME:</span>  <%= @parent.fname %> <%= @parent.lname %><br><br>
		
		<% if current_center.admin? %>
			<% center = Center.find(@parent.center_id) %>
		  	<span>CLIENT:</span> <%= center.name %><br><br> 
	    <% end %>

	    <span>USERNAME:</span> <%= @parent.username %><br><br>
	    <span>EMAIL:</span> <%= @parent.email %><br><br>

	    <span>CHILDREN:</span>
		<% if @parent.children.length != 0 %>	
			<% @parent.children.each do |child| %>
				<a href="<%= child_path(child.id) %>"><span><%= child.fname %> <%= child.mname %> <%= child.lname %></span></a>
			<% end %>
		<% end %>

	</div>
</div>

