<% provide(:title, "Adult Profile") %>

<div class="container">
	<div class="profile">
		<h1>Adult Profile</h1><br>
		<span>NAME:</span>  <%= @parent.fname %> <%= @parent.lname %><br><br>
		
		<% if current_center.admin? %>
			<% center = Center.find(@parent.center_id) %>
		  	<span>CLIENT:</span> <%= center.name %><br><br> 
	    <% end %>

	    <span>USERNAME:</span> <%= @parent.username %><br><br>
	    <span>EMAIL:</span> <%= @parent.email %><br><br>
   
		<% if @parent.children.length != 0 %>	
			 <span>CHILDREN:</span>
			 <% @parent.children.each do |child| %>
				<a href="<%= child_path(child.id) %>"><span><%= child.fname %> <%= child.mname %> <%= child.lname %></span></a>
			<% end %>
		<% end %>
		<br><br><br>

		<b><%= link_to "REGISTER-NEW-ADULT", controller: "parents", action: "new", id: @parent.center_id %><b>
	</div>
</div>

