<% provide(:title, 'Branches') %>

<div class="container-fluid">
	<% if current_center.admin? %>
		  <h1> Locations </h1>
		  <h1 class="half_size"><%= @center.name %></h1>
		  <% else %>
		  <h1> Locations </h1>
	<% end %><br>
	<% if @locations.length == 0 %>
		  <h2><i>(There are no registered branch locations.)</i></h2>
	<% end %><br>

	<div class="objects">
		<%= will_paginate %>
		<ul>
			<% @locations.each do |location| %>
				<% if location.name != 'Center' %>
			    	<li>
					    <div class="object_index">
					    	<%= link_to edit_location_path(location.id), method: :get do %>
			        			 	<i class="glyphicon glyphicon-pencil"></i>
			        		<% end %>
			        		<%= link_to location_path(location.id), method: :delete, data: {confirm: "Are you sure?"} do %>
			        			 	<i class="glyphicon glyphicon-trash"></i>
			        		<% end %>&nbsp;
			        		<%= link_to location_path(location.id), method: :get do %>
							<strong><%= location.name %></strong>
							<% end %>
						</div>
			    	</li>
			    <% end %>
			<% end %>
		</ul>
	</div>
</div>
