<% if @nav == 'center' %>
	  <li><%= link_to "Adult Portal", teacher_log_in_path %></li>
	  <li><%= link_to "Class Portal", class_log_in_path %></li>
<% elsif @nav == 'teacher' %>
	  <li><%= link_to "Class Portal", class_log_in_path %></li>
	  <li><%= link_to "Administrator", center_log_in_path %></li>  
<% else %>  
	  <li><%= link_to "Adult Portal", teacher_log_in_path %></li>
	  <li><%= link_to "Administrator", center_log_in_path %></li>  
<% end %>
<% @nav = nil %>
