<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body id="bootstrap-overrides">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Guidestar Attendance", '#', id: "logo" %>

        <!-- Both login status and @nav determines which layout to use. -->
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if @nav == "parent" %>
              <%  @nav = nil %>
            <% elsif @nav == "root" %>
              <%  @nav = nil %>
              <%= render "layouts/root" %>
            <% elsif @nav == "root2" %>
              <%  @nav = nil %>
              <%= render "layouts/root2" %>
            <% elsif parent_logged_in? %>
              <%= render "layouts/parent" %>
            <% elsif center_logged_in? %>
              <%= render "layouts/center" %>
            <% end %>
          </ul>
        </nav>
      </div> 
    </header> 

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      
      <%= yield %>

      <footer class="footer">
        <small>
          <a href="http://www.guidestarforms.com/">&copy; 2016 Guidestar Forms, LLC</a>
        </small>
      </footer>
    </div>
<%#= debug(params) if Rails.env.development? %>
</body>
</html>
